<div class="section section-header" id="header">
  <div class="parallax pattern-image">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://raw.githubusercontent.com/arraymonkey/rednails/master/mani.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="content">
        <p class="animated fadeInDown"><span>2019 </span>Best of Goodyear Award<p>
        <h1 class="name animated fadeInUp slow mb-5">Happy Feet Nails and Spa</h1>
        <div class="separator-container">
          <div class="separator line-separator animated fadeInUpBig slow" style="width: 25em; margin: 1em auto"><img style="width: 4rem; transform: translateY(-15px)"
                                                     class="happy-logo" src="assets/img/mainlogo.png"></div>
        </div>
        <h5 class="animated fadeInUpBig slower mt-0" style="margin-top: 0">Services Of The Utmost Quality</h5>
      </div>
    </div>
  </div>
</div>
