<div class="section section-we-are-1" id="whoWeAre1">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation-stopped">
          <h2>Who we are section</h2>
          <div class="separator-container">
            <div class="separator line-separator">✻</div>
          </div>
          <p>Creative tim is a tight-knit team of designers, developers, writers, and strategists. For over a decade,
            we've helped businesses to craft honest, emotional experiences through strategy, brand development,
            graphic design, web design, and storytelling.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="card add-animation-stopped animation-1">
          <img alt="..." src="assets/img/builder/projects/project_1.jpg"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card add-animation-stopped animation-2">
          <img alt="..." src="assets/img/builder/projects/project_2.jpg"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-we-are-2">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="title add-animation-stopped">
            <h5 class="text-gray">2 Columns Text</h5>
            <h2>Who we are section.</h2>
            <div class="separator-container">
              <div class="separator line-separator">✻</div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="description add-animation-stopped animation-1">
            <p>We're The Company, a small design agency based in Chicago. We’ve been crafting beautiful websites,
              launching stunning brands and making clients happy for years.</p>
            <p>With our prestigious craftsmanship, remarkable client care and passion for design, you could say we’re
              the ‘all singing, all dancing’ kind…</p>
            <p>We think you’ll love working with us.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4">
            <div class="card add-animation-stopped animation-1">
              <img alt="..." src="assets/img/builder/projects/project_3.jpg"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card add-animation-stopped animation-2">
              <img alt="..." src="assets/img/builder/projects/project_7.jpg"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card add-animation-stopped animation-3">
              <img alt="..." src="assets/img/builder/projects/project_4.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-we-are-1">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation-stopped">
          <h5 class="text-gray"> 1 Column Text & Parallax</h5>
          <h2>Who we are section</h2>
          <div class="separator-container">
            <div class="separator line-separator">✻</div>
          </div>
          <p class="large">Creative tim is a tight-knit team of designers, developers, writers, and strategists. For
            over a decade, we've helped businesses to craft honest, emotional experiences through strategy, brand
            development, graphic design, web design, and storytelling.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax full-image pattern-image">
    <img alt="..." class="parallax-img" src="assets/img/builder/projects/project_4.jpg">
  </div>
</div>
<div class="section section-we-are-2">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="title add-animation-stopped">
            <h5 class="text-gray">2 Columns Text & Parallax</h5>
            <h2>Who we are section.</h2>
            <div class="separator-container">
              <div class="separator line-separator">✻</div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="description add-animation-stopped animation-1">
            <p>We're The Company, a small design agency based in Chicago. We’ve been crafting beautiful websites,
              launching stunning brands and making clients happy for years.</p>
            <p>With our prestigious craftsmanship, remarkable client care and passion for design, you could say we’re
              the ‘all singing, all dancing’ kind…</p>
            <p>We think you’ll love working with us.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax full-image pattern-image">
    <img alt="..." class="parallax-img" src="assets/img/builder/projects/project_2.jpg">
  </div>
</div>
