<div class="section section-we-are-1" id="about">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation">
          <h2>About Us</h2>
          <div class="separator-container">
            <div class="separator line-separator">⌘</div>
          </div>
          <p>Happy Feet Nails and Spa is a full-service nail salon that dedicated itself to consistently providing
            excellent service, using
            high-quality products, strictly sanitation practices, and providing a comfortable, relaxing atmosphere. We
            offer an extensive menu of the best professional nail salon and spa services including facials, massage,
            eyelash extensions, waxing.
            <br>
            <br>
            Natural nails enhancement like pedicures, manicures, organic pedicure & manicure, ShellacÆ gel manicures,
            and artificial nails enhancement such as Gel Powder nails, Acrylic nails, Sea Shell Nails, Pink & White
            nails.
            <br>
            <br>
            At Happy Feet, our team takes sanitization very seriously. Sanitization begins with selecting the right
            pedicure
            baths, nail tools, and equipment. Non-porous implements are sterilized before each client while porous
            implements are disposed of after each use.
            <br>
            <br>
            Jet-less pedicure baths were chosen to eliminate the risk of back-flow bacteria, plus new pedicure tub liner
            is used for each client to ensure 100% no contaminated. Technicians are trained on the best standards of
            practices on sterilization and are committed to providing you a clean and relaxing environment for an utmost
            pleasurable experience.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="carousel">
    <div id="carousel-example-generic" class="carousel slide add-animation animation-1" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner pattern-image">
        <div class="item ">
          <img class="full-image " src="assets/images/banner2.jpg" alt="Awesome Image"/>
        </div>
        <div class="item">
          <img class="full-image" src="assets/images/banner.jpg" alt="Awesome Image">
        </div>
        <div class="item active">
          <img class="full-image" src="assets/images/polish.jpg" alt="Awesome Image">
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="photo.html#carousel-example-generic" data-slide="prev"><span
        class="fa fa-angle-left hidden-md hidden-lg"></span></a>
      <a class="right carousel-control" href="photo.html#carousel-example-generic" data-slide="next"><span
        class="fa fa-angle-right hidden-ms hidden-lg"></span></a>
    </div>
  </div>
</div>
