<div class="section section-team-2" id="brands">
  <div class="container">
    <div class="text-area">
      <div class="title add-animation animate">
        <h2>Brands We Trust</h2>
        <div class="separator-container">
          <div class="separator line-separator">⌘</div>
        </div>
      </div>
    </div>
    <div class="team">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-1 animate">
                <img alt="..." class="img-circle" src="assets/images/brand-1.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-2 animate">
                <img alt="..." class="img-circle" src="assets/images/brand-2.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-3 animate">
                <img alt="..." class="img-circle" src="assets/images/brand-3.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-1">
                <img alt="..." class="img-circle" src="assets/images/brand-4.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-2">
                <img alt="..." class="img-circle" src="assets/images/brand-5.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-3">
                <img alt="..." class="img-circle" src="assets/images/brand-6.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-3">
                <img alt="..." class="img-circle" src="assets/images/brand-7.png">
              </div>
            </div>
            <div class="col-md-4     col-xs-6">
              <div class="member add-animation animation-3">
                <img alt="..." class="img-circle" src="assets/images/brand-8.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end team -->
  </div>
</div>
